
.aboutus-section-1{
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
    padding: 20px 0px; 
    margin: 40px 0px;
    /* height: 100vh; */
    /* min-height: 80vh; */

}
.aboutus-section-1-image{
    max-width: 700px;

}
.aboutus-section-1-image > img{
    width: 100%;
}
.aboutus-section-1-text{
    font-size: 40px;
    font-weight: 600;
    font-size: 70px;
    margin: 0px 20px;
    color: #333333;
    /* border: 1px solid green; */
    max-width: 500px;
}
.aboutus-section-1-text > span{
    font-weight: 900;
    display: block;

}

.aboutus-section-2{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    /* margin: 20px; */
}
.aboutus-section-2 > .head{
    /* font-weight: 500; */
    font-size: 27px;
    font-weight: 400;
    padding: 20px 0px;
}
.aboutus-section-2 > .text{
    font-size: 30px;
    font-weight: 600;
    max-width: 700px;
    text-align: center;
    border-bottom: 0.5px solid rgb(202, 199, 199);
    border-bottom: 0.5px solid #FF4F5A;
    padding-bottom: 30px;
}
.aboutus-section-3 {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    min-height: 500px;
}
.aboutus-section-3 > .head{
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0px;
}
.aboutus-section-3 > .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.aboutus-section-3 > .content > div{
    color: #7A7A7A;
    font-size: 23px;
    padding: 20px 20px;
    max-width: 1000px;
}

.aboutus-section-4{
    margin: 20px 0px;
    padding: 20px 0px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, white, #f0dadc);
}
.aboutus-section-4 > .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.aboutus-section-4 > .head > span{
    font-size: 18px;
    font-weight: 500;
    color: #FF4F5A;
    margin: 10px 10px;
}
.aboutus-section-4 > .content{
    width: 100%;
    background: url('../images/testimonialbackground2.png') center fixed;
    display: flex;
    object-fit: contain;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.aboutus-section-4 > .content > div{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.aboutus-section-4 > .content > .extended{
    margin: 20px 100px;
}
.aboutus-section-4 > .content > div > .image{
    border-radius: 50%;
    width: 150px;
}

.aboutus-section-4 > .content > div > .image > img{
    border-radius: 50%;
    width: 100%;
}
.aboutus-section-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;  
    padding: 20px 10px;
    /* border: 1px solid red;   */
    min-height: 300px;
}

.aboutus-section-5 > .text{
    font-size: 35px;
    font-weight: 600;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    text-align: center;
}
.aboutus-section-5 > .btn{
    margin: 20px 0px;
}

.aboutus-section-5 > .btn > button{
    border: 0px;
    padding: 10px 20px;
    background-color: #FF4F5A;
    color: white;
    transition: background-color 300ms ease-out;

}

.aboutus-section-5 > .btn > button:hover{
    background-color: #cf3943;
}

.aboutus-section-6{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 200px;
    max-width: 1000px;
    margin: 0px auto;
    flex-wrap: wrap;
}
.aboutus-section-6 > .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutus-section-6 > .item > .number{
    font-size: 50px;
    font-weight: 800;
    color: #FF4F5A;
    /* padding: 20px; */
}
.aboutus-section-6 > .item > .text{
    font-size: 18px;
    /* font-weight: 500; */
    color: #FF4F5A;
    /* padding: 20px; */

}
@media screen and (max-width:1050px){

    .aboutus-section-4 > .content > .extended{
        margin:20px 0px;
        align-self: flex-end;
    }



}

@media screen and (max-width:511px){

.aboutus-section-1 > .aboutus-section-1-text{
    font-size: 40px;
    text-align: center;
}

.aboutus-section-3 > .head{
    text-align: center;
    margin: 20px;
}
.aboutus-section-3 > .content > div{
    text-align: center;
    align-self: center;
}
.aboutus-section-4 > .head{
    text-align: center;
    margin: 10px;
}
.aboutus-section-5 > .text{
    text-align: center;
    margin: 10px;
}

}